// Import Google fonts
@import url('https://fonts.googleapis.com/css?family=Montserrat:100,200,300,400,500,600,700,800,900');
@import url("https://fonts.googleapis.com/css?family=Open+Sans:400,300,700|Raleway:400,100,300,700,500");

// Define fonts for body and headers
$body-font: 'Montserrat', "Open Sans", "Helvetica", "sans-serif";
$headers-font: 'Montserrat', "Raleway", "Helvetica", "sans-serif";

// To use a font file (.woff) uncomment following lines
// @font-face {
//   font-family: "Font Name";
//   src: font-url('FontFile.eot');
//   src: font-url('FontFile.eot?#iefix') format('embedded-opentype'),
//        font-url('FontFile.woff') format('woff'),
//        font-url('FontFile.ttf') format('truetype')
// }
// $my-font: "Font Name";

h1{
  font-weight: 600;
  color: $black;
  margin: 0 0 30px;
  text-shadow: -3px 3px 7px rgba(0,0,0,0.15);
}

h2{
  font-weight: 600;
  color: $black;
  margin: 0;
  text-shadow: -3px 3px 7px rgba(0,0,0,0.10);
}

h3{
  font-weight: 600;
  color: $black;
  margin: 0;
}

h4{
  color: $black;
  margin: 0;
}

p{
  font-weight: 400;
  color: $black;
  margin: 0;
}

.p2{
  font-size: 14px;
  font-weight: 400;
  color: $black;
  margin: 0;
}

@media screen and (max-width: 770px) {
  h1{
    font-weight: 600;
    font-size: 24px !important;
    line-height: 24px;
    color: $black;
    margin: 0 0 30px;
    text-shadow: -3px 3px 7px rgba(0,0,0,0.15);
  }

  h2{
    font-weight: 600;
    font-size: 22px !important;
    line-height: 22px;
    color: $black;
    margin: 0;
    text-shadow: -3px 3px 7px rgba(0,0,0,0.10);
  }

  h3{
    font-weight: 600;
    font-size: 18px !important;
    line-height: 18px;
    color: $black;
    margin: 0;
  }

  p{
    font-size: 14px !important;
    line-height: 14px;
    font-weight: 400;
    color: $black;
    margin: 0;
  }

  .p2{
    font-size: 12px !important;
    line-height: 12px;
    font-weight: 400;
    color: $black;
    margin: 0;
  }
}

