

<div id="container-less">
  <h2 style="text-align: center; padding: 3vh">Projet super confidentiel, enjoy c'est du inédit</h2>
  <div class="grid-less">
    <div class="titre-projet">
      <p><strong>Less</strong> est la première plateforme d'astuce pour faire autant avec moins</p>
    </div>
    <div class="description-projet">
      <p>Le savais-tu que <strong>98%</strong> des produits que tu as achetes sont réulisable ?</p>
      <p>Non ? Et bien c'est normal car je viens de l'inventer !</p>
      <p>Pour donner un tel chiffre il faudrait être capable de mesurer la limite de ta créativité, et ca c'est impossible !</p>
      <p> C'est pourquoi nous avons créé <strong>Less</strong> ! Utilisé cette créativité inépuisable pour redonner vie a nos produits</p>
      <p>Alors vous allez me dire oui mais un colant reste un colan ?!</p> <p> Et bien <strong>non</strong> Un colan peut être réutilisé pour être transformer en éponge</p>
      <p>Maintenant, repenses à toutes tes piles mortes, tu ne sais toujours pas quoi en faire et tu n'as jamais le temps de les envoyer tu ne sais pas où d'ailleurs</p>
      <p>Et si car à Less on était capable de réutiliser ces piles pour en faire quelques choses d'autre ?</p>
      <p>Aujourd'hui on n'arrête pas de nous dire qu'il faut changer nos habitudes pour l'écologie. On nous dit même qu'on est en état d'urgence.</p>
      <p>Mais que faire et comment le faire?</p>
      <p>Notre réflexe est d'aller voir sur internet des solutions toutes aussi incroyables mais pas du tout adapter à notre consommation ou à nous. C'est donc des heures et des heures à chercher cette réponse: Qu'est ce que je peux faire, moi, à mon échelle dans mon quotidien ?</p>
      <p><strong>Less</strong> est né de ça! Elle va référencer toutes les astuce et recettes qui peu changer notre quotidien. Et cela, fait par vous</p>
    </div>
    <div class="description-projet">
      <p>Nous travaillons sur le prototype de Less mais nous avons besoin de vous! Votre avis est très précieux car un jour vous serez peu être l'amassadeur de ce beau projet.</p>
      <p>A droite, voici la vidéo des maquettes design de ce que ressemblera la plateforme. Nous avons représenté le parcours d'un utilisateur type.</p>
      <p>La première question a répondre est: <strong>Est ce que cela vous parle ?</strong></p>
      <p>Ensuite donnez nous, toutes vos réactions et "emotions" face à prototype </p>

    </div>
    <div class="iframe-container">
      <iframe height="500" src="https://www.youtube.com/embed/jJFwcLDXNXA?" frameborder="0" allowfullscreen id="myFrame"></iframe>
    </div>
  </div>
  <div id="formulaire-less">
      <%= render 'first_step' %>
  </div>






<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h2 class="modal-title" id="exampleModalLabel">Merci pour ton aide !</h2>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>













  <script>
    const answers = Array.from(document.querySelectorAll('.answers'))
    answers.forEach((answer) => {
      let inputs = Array.from(answer.getElementsByTagName('input'))
      inputs.forEach((input) => {
        input.classList.add('hidden')
      })
    })

    const questions = Array.from(document.querySelectorAll('.question-card'))
    const submit = document.querySelector('input[type=submit]')
    questions[0].classList.remove('hidden')

    const nexts = Array.from(document.querySelectorAll('.next'))
    nexts.forEach(function (next, index) {
      next.addEventListener('click', function(){
        document.querySelector('input[type=submit]').click()
        if (nexts.length != index + 1){
          questions[index].classList.add('hidden');
          questions[index + 1].classList.remove('hidden');
        } else {
          questions[index].classList.add('hidden');
          questions[1].classList.remove('hidden');
        }
      })
    })

    const previous = Array.from(document.querySelectorAll('.previous'))
    previous.forEach(function (previou, index) {
      previou.addEventListener('click', function(){
        document.querySelector('input[type=submit]').click()
        if ( index != 0){
          questions[index].classList.add('hidden');
          questions[index - 1].classList.remove('hidden');
        }
      })
    })

  </script>
</div>


