
<div id="container-less">
  <h2 style="text-align: center; padding: 3vh">Projet super confidentiel, enjoy c'est du inédit</h2>
  <div class="grid-less">
    <div class="description-projet">
      <p>
        Aujourd'hui on n'arrête pas de nous dire qu'il faut changer nos habitudes pour l’environnement. On nous dit même qu'on est en état d’urgence et qu’on doit tous agir.</p>
      <p>La question est donc que faire et comment le faire? </p>

      <p>Notre réflexe est d'aller chercher des solutions sur internet.</p>

      <p> Les problèmes sont:</p>
      <ul>
        <li>Que l’on tombe sur des solutions complètement incroyable et improbable</li>
        <li>Ces solutions ne nous correspondent pas car elles sont trop difficiles ou pas adaptées</li>
        <li>On ne sait pas du vrai du faux, du faisable ou pas, de écologique ou non</li>
      </ul>

      <p>Bref des heures et des heures perdues et une démotivation assurée !</p>

      <p>Si maintenant je vous disais, de trouver un produit de second mains vous me dites « le boncoin », la recette du gâteau au chocolat => « marmiton », le meilleur resto d’Oslo => « tripadvasior » </p>

      <p>Et redonner une seconde vie à  un produit vous me dites ? « printerest» ???</p>

      <p>Non on dira Less ! Less référencera plus d’une 100aine de recettes et astuces pour réutiliser nos produits du quotidien. Ces recettes seront faite et produite par vous, tester et noter par vous.</p>
      <p>Car les idées vous les avez déjà. Il n’y a plus cas ;)</p>
      <p><strong>Less est la première plateforme d'astuce pour faire autant avec moins</strong></p>

    </div>
    <div class="iframe-container">
      <iframe height="500" src="https://www.youtube.com/embed/jJFwcLDXNXA?" frameborder="0" allowfullscreen id="myFrame"></iframe>
    </div>
  </div>
  <div id="formulaire-less">
      <%= render 'first_step' %>
  </div>






<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h2 class="modal-title" id="exampleModalLabel">Merci pour ton aide !</h2>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>




  <script>
    const answers = Array.from(document.querySelectorAll('.answers'))
    answers.forEach((answer) => {
      let inputs = Array.from(answer.getElementsByTagName('input'))
      inputs.forEach((input) => {
        input.classList.add('hidden')
      })
    })

    const questions = Array.from(document.querySelectorAll('.question-card'))
    const submit = document.querySelector('input[type=submit]')
    questions[0].classList.remove('hidden')

    const nexts = Array.from(document.querySelectorAll('.next'))
    nexts.forEach(function (next, index) {
      next.addEventListener('click', function(){
        document.querySelector('input[type=submit]').click()
        if (nexts.length != index + 1){
          questions[index].classList.add('hidden');
          questions[index + 1].classList.remove('hidden');
        } else {
          questions[index].classList.add('hidden');
          questions[1].classList.remove('hidden');
        }
      })
    })

    const previous = Array.from(document.querySelectorAll('.previous'))
    previous.forEach(function (previou, index) {
      previou.addEventListener('click', function(){
        document.querySelector('input[type=submit]').click()
        if ( index != 0){
          questions[index].classList.add('hidden');
          questions[index - 1].classList.remove('hidden');
        }
      })
    })

    window.onscroll = function() {scrollFunction()};
    function scrollFunction() {
      if (document.body.scrollTop > 80 || document.documentElement.scrollTop > 80) {
        document.querySelector(".navbar-white-bg").style.padding = "15px calc(2% + 2vw) 0";
      } else {
        document.querySelector(".navbar-white-bg").style.padding = "50px 125px 0";
      }
    }

  </script>
</div>


