// .container-homepage{
//   padding: 195px 125px 125px;
// }

.ecran{
  min-height: 100vh;
  padding: 195px 125px 125px;
  > div{
    height: calc(100vh - 320px);
    display: flex;
  }
}


#vertical-tab-service{
  .active{
    color: $green;
  }
}

@media screen and (max-width: 770px) {
  .ecran{
    padding: 70px 30px 20px;
  }
  #liste-defilement-auto h2::after{
    content: "";
    position: absolute;
    height: 24px;
    width: 2px;
    border: none;
    margin: 0 0 0 15px;
    background-color: $black;
  }
}
