.navbar-white-bg {
  transition: 0.4s;
}


@media screen and (max-width: 770px) {
  #container-less {
    height: calc(100vh - 110px);
    margin-top: calc(40px + 70px + 2%);
  }
  .iframe-container {
    position: relative;
    width: 100%;
    padding-bottom: 56.25%;
    height: calc(100vh - 160px);
  }

  .iframe-container iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
  .grid-less {
    display: flex;
    flex-direction: column;
  }
  .titre-projet {
    margin: 2%;
  }
  .description-projet {
    margin: 2%;
  }
  .answers {
    flex-direction: column;
    width: 90%;
    align-items: stretch !important;
    text-align: center;
    label {
      margin: 10px;
    }
  }

}
.iframe-container {
  padding: 2%;
}

@media screen and (min-width: 771px) {
  #container-less {
    height: calc(100vh - 120px);
    margin-top: calc(50px + 70px + 2%);
    margin-right: 2vw;
    margin-left: 2vw;
    max-width: 1400px;
  }
  .grid-less {
    display: flex;
    flex-direction: column;
    grid-template-columns: 500px auto;
    grid-template-rows: 50px auto 45% ;
    margin: 2%;
  }
  .btn-question  {
    width: 110px;
  }
}
.iframe-container {
  grid-column: 1 / span 1;
  grid-row: 1 / span 3;
  margin: auto;
}
.titre-projet {
  grid-column: 2 / span 1;
  grid-row: 1 / span 1;
}
.question-card {
  min-height: 130px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  box-shadow: 0 1px 5px 0 rgba(0,0,0,0.07), 0 1px 0 0 rgba(0,0,0,0.03);
  padding: 2%;
  margin: 2%;
  max-width: 1100px;
  margin: auto;
  min-height: 170px;
}

.btn-question {
  color: $green;
  cursor: pointer;
  flex: initial;
  min-height: 100px;
  align-items: center;
  display: flex;
  justify-content: center;
  min-width: 40px;
}
.question {
  display: flex;
  flex-direction: column;
  width: 60%;
  max-width: 520px;
  flex: auto;
  padding: 2%;
}
.answers {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
  align-items: center;
}

.collection_radio_buttons {
  box-shadow: 0 1px 5px 0 rgba(0,0,0,0.07), 0 1px 0 0 rgba(0,0,0,0.03);
  padding: 8px;
  border-radius: 10px;
  border: 1px solid $green;
  // width: 120px;
  text-align: center;
  color: $gray;
  width: 100%;
}
.collection_radio_buttons:hover {
  color: $green;
}

input[type="radio"]:checked+label {
  color: white;
  background-color: $green;
}


.text-answers {
  textarea.form-control {
    background-color: white;
    color: $green;
    box-shadow: 0 1px 5px 0 rgba(0,0,0,0.07), 0 1px 0 0 rgba(0,0,0,0.03);
  }
  input.form-control {
    background-color: white;
    color: $green;
    box-shadow: 0 1px 5px 0 rgba(0,0,0,0.07), 0 1px 0 0 rgba(0,0,0,0.03);
  }
  p {
    font-size: 12px;
  }
}

button.close {
  position: absolute;
  top: 20px;
  right: 20px;
}

.modal {
  position: relative;
}

.modal-header {
  text-align: center;
  border-bottom: 0px;
  h2 {color: $green;}
}
.modal-footer {
  text-align: center;
  border-top: 0px
}
.final {
  color: white;
  background-color: $green;
  padding: 10px;
  border-radius: 6px;
}




