<div class="btn-decrouvrir-avem hidden">
  <div class="margin-bottom-15" id="decouvrir-avem-texte"><p class="rotate180 no-margin" style="writing-mode: vertical-rl; font-weight: 700; font-size: 12px;">DÉCOUVREZ <br>AVEM</p></div>
  <%= image_tag("icone_grise.svg", alt: "Découvrez l'univers d'Avem Création", style: "height: 25px") %>
</div>
