<div class="btn-decrouvrir-avem hidden-xs">
  <div class="margin-bottom-15" id="decouvrir-avem-texte"><h4 class="rotate180 no-margin" style="writing-mode: vertical-rl; font-weight: 500;">DÉCOUVREZ <br>AVEM</h4></div>
  <img src="assets/oiseau.png" alt="Découvrez l'univers d'Avem Création" style="height: 45px">
</div>
