<div class="btn-decrouvrir-avem hidden-xs">
  <div class="margin-bottom-15" id="decouvrir-avem-texte"><p class="p2 rotate-90">DÉCOUVREZ AVEM</p></div>
  <img src="assets/oiseau.png" alt="Découvrez l'univers d'Avem Création">
</div>
