<div class="highlighted col-md-4">
  <div class="image-portofolio">
    <img src="assets/photo_exemple.JPG" alt="">
  </div>
  <h3 style="text-align: center;">Test</h3>
  <p style="text-align: center;">Développers, designers, chargé de projet,</p>
</div>
