<div class="col-md-12">
  <div class="image-portofolio">
    <%= image_tag "Portofolio/Site _ Talentist.jpg" %>
  </div>
  <h3 style="text-align: center;">Test</h3>
  <p class="p2" style="text-align: center;">Développers, designers, chargé de projet,</p>
</div>
