<div class="col-xs-12">
  <div class="col-md-8 col-xs-12 margin-bottom-45" style="text-align: center;">
    <%= image_tag "pictos design.svg", style: "height: 110px;" %>
  </div>
  <div class="col-md-4 hidden-xs"></div>
</div>
<div class="col-md-8 col-xs-12">
  <p class="white-space">Une identité de marque ne s’arrête pas au design d’un logo. Pour cela il faut mettre en place un environnement visuel qui reflète la personnalité et les valeurs de votre entreprise.
    Du logo à la charte graphique complète, en passant par la papeterie, les bannières et bien plus, notre équipe de graphiste brise les limites et conçoit des produits visuels adaptés à la personnalité de votre entreprise, pour aider votre projet à se démarquer.
    Un design unique, allié aux dernières tendances créera une synergie autour de votre marque et suscitera par la même occasion de la confiance chez vos interlocuteurs.
  </p>
  <a href="#contact" class="margin-bottom-30-xs">Contacter avem pour davantage d’informations</a>
</div>
<div class="col-md-4 col-xs-12">
  <ul class="list-ligne">
    <li>Charte graphique</li>
    <li>Création et refonte de logo</li>
    <li>Carte de visite</li>
    <li>Print design</li>
  </ul>
</div>
