<div class="col-xs-12">
  <div class="col-md-8 col-xs-12 margin-bottom-30" style="text-align: center;">
    <img src="assets/pictos marketing.svg" alt="" style="height: 110px;">
  </div>
  <div class="col-md-4 hidden-xs"></div>
</div>
<div class="col-md-8 col-xs-12">
  <p class="white-space">Le marketing digital c’est mettre en relation des prospects avec des entreprises sur le web, mais c’est aussi, pour les entreprise, la maîtrise des canaux digitaux comme les recherches Google, les réseaux sociaux, les e-mails pour échanger avec votre public cible et anticiper leurs besoins.
    En établissant avec vous une stratégie et des objectifs clairs nous mettons en place un message, définissons le public cible, sélectionnons les outils/supports de communication et établissons un suivi personnalisé pour évaluer la pertinence des résultats et adapter votre stratégie sur le web en fonction des nouvelles tendances.
    Notre objectif vous apporter une vraie notoriété et légitimité dans le paysage digitale sur le long terme.
  </p>
  <a href="#contact" class="margin-bottom-30-xs">Contacter avem pour davantage d’informations</a>
</div>
<div class="col-md-4 col-xs-12">
  <ul class="list-ligne">
    <li>Illustration web</li>
    <li>Bannière web</li>
    <li>SEO</li>
    <li>Marketing de contenu</li>
  </ul>
</div>
