<div class="col-xs-12">
  <div class="col-md-8 col-xs-12 margin-bottom-30" style="text-align: center;">
    <img src="assets/logo.png" alt="">
  </div>
  <div class="col-md-4 hidden-xs"></div>
</div>
<div class="col-md-8 col-xs-12">
  <p>Développers, designers, chargé de projet, quelques soit notre coeur de métier nous adorons ce que nous faisons, et mettons à votre profit notre expérience, savoir faire pour: désacraliser les technologies digitales en les rendant comprehensible et accessible, et, repenser l’approche du design en nous tenant toujours informés des dernieres tendances.</p>
  <a href="#contact" class="margin-bottom-30-xs">Contacter avem pour davantage d’informations</a>
</div>
<div class="col-md-4 col-xs-12">
  <ul class="list-ligne">
    <li>Site vitrine</li>
    <li>Site e-commerce</li>
    <li>Plateforme web</li>
    <li>Application mobile</li>
  </ul>
</div>
