<div class="col-xs-12">
  <div class="col-md-8 col-xs-12 margin-bottom-30" style="text-align: center;">
    <img src="assets/logo.png" alt="">
  </div>
  <div class="col-md-4 hidden-xs"></div>
</div>
<div class="col-md-8 col-xs-12">
  <p class="white-space">
    La conception ou la refonte d’un site web n’est pas seulement une affaire de regard, c’est une approche méthodologique qui allie parcours/expérience client (UX) et environnement/univers de votre marque (UI), une immersion totale qui guide et inspire les clients, en leur donnant une raison de revenir vers vous.
    Que vous soyez débutant, rêveur ou simplement curieux, porteur d’un projet tout neuf ou que vous cherchiez simplement à vous rafraîchir, notre équipe de développeurs est fière de développer des solutions innovantes en définissant avec vous l’image et la tonalité de votre site Web, puis le format/technologie (site vitrine, plateforme, e commerce) et les outils/solutions les plus adaptés, pour créer une expérience pertinente/innovante qui résonnera auprès de votre public cible.
  </p>
  <a href="#contact" class="margin-bottom-30-xs">Contacter avem pour davantage d’informations</a>
</div>
<div class="col-md-4 col-xs-12">
  <ul class="list-ligne">
    <li>Site vitrine</li>
    <li>Site e-commerce</li>
    <li>Plateforme web</li>
    <li>Application mobile</li>
  </ul>
</div>
