<div class="col-xs-12">
  <div class="col-md-8 col-xs-12 margin-bottom-45" style="text-align: center;">
    <%= image_tag "pictos dev.svg", style: "height: 110px;" %>
  </div>
  <div class="col-md-4 hidden-xs"></div>
</div>
<div class="col-md-8 col-xs-12">
  <p class="white-space">La conception ou la refonte d’un site web n’est pas seulement une affaire de regard.
    C’est une approche méthodologique qui allie expérience client (UX) et univers de votre marque (UI), une immersion totale qui guide le visiteur.

    Que vous soyez porteur d’un projet tout neuf ou que vous cherchiez simplement à vous rafraîchir, notre équipe développe des solutions innovantes, en définissant avec vous l’image et la tonalité de votre site Web. Avec la technologie et les outils les plus adaptés, pour créer une expérience pertinente qui résonnera auprès de votre public cible.
  </p>
  <a href="#contact" class="margin-bottom-30-xs">Contacter avem pour davantage d’informations</a>
</div>
<div class="col-md-4 col-xs-12">
  <ul class="list-ligne">
    <li>Site vitrine</li>
    <li>Site e-commerce</li>
    <li>Plateforme web</li>
    <li>Application mobile</li>
  </ul>
</div>
