.btn-decrouvrir-avem{
  // border: 1px solid black;
  background-color: white;
  border-radius: 1px;
  box-shadow: -3px 3px 15px rgba(0,0,0,0.11);
  position: fixed;
  z-index: 100;
  right: -15px;
  top: 50%;
  transform: translateY(-50%);
  padding: 15px 25px 15px 10px;
  cursor: pointer;
  transition: 0.5s;
}

.btn-decrouvrir-avem:hover{
  right: -5px
}

#decouvrir-avem-texte{
  width: 35px;
  height: 95px;
  display: flex;
}
