#liste-defilement-auto{
  position: relative;
  .item-defilant{
    position: absolute;
  }
  .item{
    color: $gray;
    transition: 0.5s;
  }
  .active{
    color: $black;
  }
}



@media screen and (max-width: 770px) {
  #liste-defilement-auto h2::after{
    content: "";
    position: absolute;
    height: 24px;
    width: 2px;
    border: none;
    margin: 0 0 0 15px;
    background-color: $black;
  }
}
