// Liste avec ligne
  .list-ligne{
    padding: 0 0 0 24px;
    list-style: none;
  }
  .list-ligne > li{
    position: relative;
  }
  .list-ligne > li:before { // dessine les points
    content: "";
    width: 16px;
    height: 4px;
    background-color: $green;
    border-radius: 1px;
    position: absolute;
    left: -24px;
    top: 50%;
    transform: translateY(-50%);
  }

