/* Main navbar */
.navbar-white-bg{
  position: fixed;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  padding-top: 125px;
  width: calc(100% - 250px);
  z-index: 10;
  background-color: white;
}
@media screen and (max-width: 770px) {
  .navbar-white-bg{
    left: 0;
    transform: none;
    padding-top: unset;
    width: 100%;
  }
}

.navbar-wagon {
  // box-shadow: 0 1px 5px 0 rgba(0,0,0,0.07),0 1px 0 0 rgba(0,0,0,0.03);
  background: white;
  transition: all 0.3s ease;
  height: 70px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

/* Logo */
.navbar-wagon-brand img {
  height: 50px;
}

/* User Avatar */
.navbar-wagon .avatar {
  height: 35px;
  width: 35px;
  border-radius: 50%;
}

/* Right section */
.navbar-wagon-right {
  display: flex;
  align-items: center;
}

/* Basic navbar item */
.navbar-wagon-item {
  cursor: pointer;
  margin: 0 20px;
}

/* Navbar link */
.navbar-wagon-link {
  font-size: 18px;
  line-height: 18px;
  font-weight: 500;
  color: $black;
}
.navbar-wagon-link:hover {
  text-decoration: none;
}

/* Dropdown menu */
.navbar-wagon-dropdown-menu {
  margin-top: 15px;
  box-shadow: 1px 1px 4px #E6E6E6;
  border-color: #E6E6E6;
}
.navbar-wagon-dropdown-menu li > a {
  transition: color 0.3s ease;
  font-weight: lighter !important;
  color: #999999 !important;
  font-size: 15px !important;
  line-height: 22px !important;
  padding: 10px 20px;
}
.navbar-wagon-dropdown-menu li > a:hover {
  background: transparent !important;
  color: black !important;
}
.navbar-wagon-dropdown-menu:before {
  content: ' ';
  height: 10px;
  width: 10px;
  position: absolute;
  right: 10px;
  top: -6px;
  background-color: white;
  transform: rotate(45deg);
  border-left: 1px solid #E6E6E6;
  border-top: 1px solid #E6E6E6;
}
