.trait-horizontal{
  width: 50px;
  height: 6px;
  border: none;
  margin: unset;
  background-color: $black;
  transition: 0.5s;
}

.trait-vertical{
  height: 41px;
  width: 2px;
  border: none;
  margin: unset;
  background-color: $black;
  transition: 0.5s;
}
